<h1><%= @sensor.name %></h1>
<table id="sensor_values">
  <tr>

    <th width="150">Время:</th>
    <th width="50"><%= @param_value[0] %></th>
    <th width="50"><%= @param_value[1] %></th>
  </tr>
   <% @sensor_values.each do |val| %>
      <tr>
        <td><%= val.created_at+7200 %></td>
        <td><%= val.value1 %></td>
        <td><%= val.value2 %></td>
      </tr>
   <% end %>

</table>

