
<div class="row">
  <div class="col-md-12">
    <header>
      <h1 class="text-center"><%= @sensor.name %></h1>
    </header>
  </div>
</div>



<div class="row">
  <div class="col-md-4">
    <h2>Параметры:</h2>

    <div class="search-box">
      <div id="sb-search" class="sb-search">
        <div>
        <%= form_tag(sensor_show_path, method: "get") do %>
          <%= hidden_field_tag :id, @sensor.id, prefix: :id %>
          <%= label_tag("Начальна дата:") %>
          <p>
          <%= select_datetime Date.today, prefix: :start_date %>
          <p>
          <%= label_tag("Конечная дата:") %>
          <p>
          <%= select_datetime Date.today, prefix: :end_date %>
          <p>
          <%= submit_tag "Показать", name: nil, class: "sb-search-submit" %>
        <% end %>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-8">
    <section class="row">
      <canvas id="line-chart" width="450" height="320"></canvas>
    </section>


  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <table id="sensor_values" class="table">
      <tr>
        <th> Время:</th>
        <th><%= @param_value[0] %></th>
        <th><%= @param_value[1] %></th>
      </tr>

      <%  @label_arrey = [] %>
      <%  @data1_arrey = [] %>
      <%  @data2_arrey = [] %>
      <% @sensor_values.each do |val| %>
        <tr>
          <td><%= val.created_at+7200 %></td>
          <td><%= val.value1 %></td>
          <td><%= val.value2 %></td>
        </tr>
        <%  @label_arrey.push((val.created_at+7200).time.to_s) %>
        <%  @data1_arrey.push(val.value1) %>
        <%  @data2_arrey.push(val.value2) %>
      <% end %>

    </table>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>

        new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
           // labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
            labels: [
            <% @label_arrey.reverse.each do |val| %>
                "<%= val %>",
            <% end %>
            ],
            datasets: [{
               // data: [1,2,3],
                data: <%= @data1_arrey.reverse %>,

                // label: "Africa",
                label: "<%= @param_value[0] %>",

                borderColor: "#3e95cd",
                fill: false
            }

            ]
        },
        options: {
            title: {
                display: true,
                text: 'Показники:'
            }
        }
    });
</script>