
<div class="row" style="color:darkblue ">
  <div class="col-md-12">
    <header>
      <h1 class="text-center"><%= @sensor.name %></h1>
    </header>
  </div>
</div>


<div class="row" style="color:cadetblue ">
  <div class="col-md-1">
    <%= link_to 'Главная', root_path %>
  </div>
  <div class="col-md-2">
    <strong>
      Последнии данные:
    </strong>
  </div>
  <div class="col-md-3">
    <strong>
      <%= (@sensor.sensor_values.last.created_at+@sensor.time_zona*3600).to_s.slice(0,19) %>
    </strong>
  </div>
  <div class="col-md-3">
    <strong>
      <%= @param_value[0] %> : <%= @sensor.sensor_values.last.value1 %>
    </strong>
  </div>
  <div class="col-md-3">
    <strong>
      <%= @param_value[1] %> : <%= @sensor.sensor_values.last.value2 %>
    </strong>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>За период:</h2>
      <div class="row">
        <%= form_tag(sensor_show_path, method: "get") do %>
          <%= hidden_field_tag :id, @sensor.id, prefix: :id %>
            <div class="form-group">
              <%= label_tag("Начальна дата:") %>
              <%= select_datetime @start_date, prefix: :start_date,class:"form-control" %>
            </div>
            <div class="form-group">
              <%= label_tag("Конечная дата:") %>
              <%= select_datetime @end_date, prefix: :end_date,class:"form-control"  %>
            </div>

          <%= submit_tag "Показать", name: nil,class: 'btn btn-default btn-lg btn-submit' %>
        <% end %>
      </div>
  </div>
  <div class="col-md-4">
    <h2>Информация:</h2>
    <% if @sensor_values.count > 0 %>
        <div class="row" >
          <ul class="list-group">
            <li class="list-group-item">Часовой пояс:<%= @sensor.time_zona>0 ? "+"+@sensor.time_zona.to_s : @sensor.time_zona.to_s  %></li>
            <li class="list-group-item">Количество записей:<%= @sensor_values.count %></li>
            <li class="list-group-item">Начало:<%= (@sensor_values.last.created_at+@sensor.time_zona*3600).to_s.slice(0,19) %></li>
            <li class="list-group-item">Конец:<%= (@sensor_values.first.created_at+@sensor.time_zona*3600).to_s.slice(0,19) %></li>
          </ul>
        </div>
    <% end %>

  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <section class="row">
        <canvas id="line-chart1" width="450" height="320"></canvas>
      </section>
  </div>

  <div class="col-md-6">
      <section class="row">
        <canvas id="line-chart2" width="450" height="320"></canvas>
      </section>
  </div>

</div>



<div class="row">
  <div class="col-md-12">

    <table id="sensor_values" class="table">
      <thead>
      <tr>
        <th> Время:</th>
        <th><%= @param_value[0] %></th>
        <th><%= @param_value[1] %></th>
      </tr>
      </thead>
      <tbody>

      <%  @label_arrey = [] %>
      <%  @data1_arrey = [] %>
      <%  @data2_arrey = [] %>
      <% @sensor_values.each do |val| %>
        <tr>
          <td><%= (val.created_at+@sensor.time_zona*3600).to_s.slice(0,19) %></td>
          <td><%= val.value1 %></td>
          <td><%= val.value2 %></td>
        </tr>
        <%  @label_arrey.push((val.created_at+@sensor.time_zona*3600).time.to_s.slice(0,19)) %>
        <%  @data1_arrey.push(val.value1) %>
        <%  @data2_arrey.push(val.value2) %>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

<span id="chart-data" data-labels="<%= @label_arrey.reverse.map(&:to_s) %>"
data-values1="<%= @data1_arrey.reverse %>" data-label1="<%= @param_value[0] %>"
data-values2="<%= @data2_arrey.reverse %>" data-label2="<%= @param_value[1] %>"></span>
